<div *ngIf="vehicle">
  <p class="detail-title-text">Veículo #{{ vehicle.id }}</p>
  <form #formRef="ngForm">
    <div class="field-list">
      <div class="field-name">
        <span>Placa</span>
        <label class="readonly">{{ vehicle.plate }}</label>
      </div>
      <div class="field-name">
        <span>ID do cliente</span>
        <label class="readonly">{{ vehicle.customer_id }}</label>
      </div>
      <div class="field-name">
        <span>UF</span>
        <input
          class="text-input small-input"
          type="text"
          name="state"
          [(ngModel)]="vehicle.state"
          (ngModelChange)="vehicleChanged()"
          required
          minlength="2"
          maxlength="2"
        />
      </div>
      <div class="field-name">
        <span>Cidade</span>
        <input
          class="text-input medium-input"
          type="text"
          name="city"
          [(ngModel)]="vehicle.city"
          (ngModelChange)="vehicleChanged()"
          required
        />
      </div>
      <div class="field-name">
        <span>Cor</span>
        <input
          class="text-input medium-input"
          type="text"
          name="color"
          [(ngModel)]="vehicle.color"
          (ngModelChange)="vehicleChanged()"
          required
        />
      </div>
      <div class="field-name">
        <span>Marca</span>
        <input
          class="text-input medium-input"
          type="text"
          name="brand"
          [(ngModel)]="vehicle.brand"
          (ngModelChange)="vehicleChanged()"
          required
        />
      </div>
      <div class="field-name">
        <span>Modelo</span>
        <input
          class="text-input medium-input"
          type="text"
          name="model"
          [(ngModel)]="vehicle.model"
          (ngModelChange)="vehicleChanged()"
          required
        />
      </div>
      <div class="field-name">
        <span>Ano</span>
        <input
          class="text-input small-input"
          type="number"
          name="year"
          [(ngModel)]="vehicle.year"
          (ngModelChange)="vehicleChanged()"
          required
          min="1900"
          max="2100"
        />
      </div>
    </div>
    <div class="button-list">
      <button
        class="btn btn-primary"
        type="button"
        [disabled]="formRef.invalid || !isVehicleChanged"
        (click)="updateVehicle()"
      >
        Atualizar
      </button>
    </div>
  </form>
</div>
